<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h1 class="position-relative" style="width:fit-content; margin-bottom:20px">
        Beauty Products <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-6">
            New
        </span>
    </h1>
    @foreach(var product in @Model)
    {
            <h2 style="font-size:18px;width:fit-content">@product.Name</h2>
            <a href="/Products/Details/@product.ID" type="button" class="btn btn-primary btn-sm">Details</a>
            <hr style="border: none; height: 2px; background-color: gray; width: 50%;">
    }
    <a href="/Products/Create" type="button" class="btn btn-outline-success">Add Product</a>
</body>
</html>
